<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script  src="../../static/support.js"></script>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    {% if is_existing_db %}
        <div class="container ">
            <div class="row">
                <hr>
            </div>
            <div class="row"><h4><b>Loai Hang</b></h4></div>
            <div class="row-2 table_adjustment">
                <table class="table table-striped table-hover table-bordered table-light">
                    <thead>
                    <tr>
                        <th scope="col" class="table-seccondary">Ma So Loai</th>
                        <th scope="col" class="table-seccondary">Ten Loai</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in loaihang %}
                        {% if not loop.last %}
                            <tr>
                            <td>{{ g['MSLOAI'] }}</td>
                            <td>{{ g['TENLOAI'] }}</td>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <hr>
            <div class="row"><h4><b> Mat Hang</b></h4></div>
            <div class="row">
                <table class="table table-striped table-hover table-bordered table-light">
                    <thead>
                    <tr>
                        <th scope="col">MSMH</th>
                        <th scope="col">Ten Mat Hang</th>
                        <th scope="col">Mota</th>
                        <th scope="col">Don vi</th>
                        <th scope="col">Ma so Loai</th>
                        <th scope="col"> action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in mathang %}
                        {% if not loop.last %}
                            <tr>
                                <form method="post" action="{{ url_for('production.xoa_mahang', msmh = g['MSMH']) }}"
                                      class="form-control">
                                    <td><input name="MSMH" id="MSMH" value="{{ g['MSMH'] }} " disabled></td>
                                    <td>{{ g['TENMH'] }}</td>
                                    <td>{{ g['MOTA'] }}</td>
                                    <td>{{ g['MATHANGDVT'] }}</td>
                                    <td>{{ g['MSLOAI'] }}</td>
                                    <td>
                                        <input type="submit" value="delete" onclick="return confirm('Are you sure?');">
                                    </td>
                                </form>

                            </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
{% endblock %}
    {% block add %}
        <div class="container">
            <div class="row">
                <div class="btn-group col-1" role="group" aria-label="Basic example">
                    <a href="{{ url_for('production.them_mathang') }}" type="button" class="btn btn-primary active" onclick="show_add()" ondblclick="collapse_add()">Add new</a>
                </div>
                <div class="btn-group col-1" role="group" aria-label="Basic example">
                    <a href="{{ url_for('production.them_mathang') }}" type="button" class="btn btn-primary active" onclick="show_add()" ondblclick="collapse_add()">Edit item</a>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
         </div>
        {% block add_table %}{% endblock %}
    {% endblock %}

</body>
</html>